<!DOCTYPE html>
<html>
<head>
    <title>Big shope A Ecommerce Category Flat Bootstarp Resposive Website Template | Home</title>

    <meta name="copyright" content="Copyright   www.xmoban.cn">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!--theme-style-->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="static/css/etalage.css" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    {#<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>#}
    <!--//fonts-->
    <script src="/static/js/jquery.min.js"></script>
    <!--script-->
</head>
<body>
<!--header-->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a href="#"><label> </label></a></li>
                    <li><a href="#">爆款！！！<span class="live">铠甲勇士 </span></a></li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="top-header-right">
<ul class="support">
    <li><a>{{username }}|</a><a href="/outlogin">注销</a></li>
    <!----></ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="/"><img src="/static/images/xiaodian.png" style="width: 100%;height:100px" alt=" "/></a>
                    {#                        <div ><a style="font-size:42px;padding: 0em;margin:0;font-size:4.5em;color:#01AFD1; font-weight:600;" href="/">来吧小店</a></div>#}

                </div>
                <div class="search">
                    <input type="text" value="" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '';}">
                    <input type="submit" value="SEARCH">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="header-bottom-right">
                <div class="account"><a href="/userhome"><span> </span>我的账户</a></div>
                <ul class="login">
                    <li><a href="/login"><span> </span>登陆</a></li>
                    |
                    <li><a href="/register">注册</a></li>
                </ul>
                <div class="cart"><a href="#"><span> </span>购物车</a></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->
<div class="container">

    <div class="sub-cate">
        <div class=" top-nav rsidebar span_1_of_left">
            <h3 class="cate">集市</h3>
            <ul class="menu">
                <ul class="kid-menu">
                    <li><a href="/product?product=hot">热门爆款</a></li>
                </ul>
                <li class="item4"><a href="#">常规玩具<img class="arrow-img img-left-arrow" src="/static/images/arrow1.png"
                                                       alt=""/></a>
                    <ul class="cute">
                        <li class="subitem1" style="font-family:楷体;color: white"><a href="/product">声光玩具 </a>
                        </li>
                        <li class="subitem2" style="font-family:楷体;color: white"><a
                                href="/product">变形玩具</a></li>
                        <li class="subitem3" style="font-family:楷体;color: white"><a
                                href="/product">婴儿玩具</a></li>
                        <li class="subitem3" style="font-family:楷体;color: white"><a
                                href="/product">拼装积木</a></li>
                    </ul>
                </li>
                <li class="item1"><a href="#">潮流玩具<img class="arrow-img img-left-arrow" src="/static/images/arrow1.png"
                                                       alt=""/></a>
                    <ul class="cute">
                        <li class="subitem1" style="font-family:楷体;color: white"><a href="product.html">变形玩具 </a></li>
                        <li class="subitem2" style="font-family:楷体;color: white"><a href="product.html">形象公仔 </a></li>
                        <li class="subitem3" style="font-family:楷体;color: white"><a href="product.html">主角装备 </a></li>
                    </ul>
                </li>
                <ul class="kid-menu">
                    <li><a href="product.html">一键代发</a></li>
                </ul>
                <li class="item3"><a href="#">小店分销<img class="arrow-img img-left-arrow" src="/static/images/arrow1.png"
                                                       alt=""/></a>
                    <ul class="cute">
                        <li class="subitem1" style="font-family:楷体;color: white"><a href="product.html">线上分销</a></li>
                        <li class="subitem2" style="font-family:楷体;color: white"><a href="product.html">线下分销 </a></li>

                    </ul>
                </li>
                <li class="item3"><a href="#">合作品牌方<img class="arrow-img img-left-arrow" src="/static/images/arrow1.png"
                                                        alt=""/></a>
                    <ul class="cute">
                        <li class="subitem1" style="font-family:楷体;color: white"><a href="product.html">广州易腾动漫文化有限公司</a>
                        </li>
                        <li class="subitem2" style="font-family:楷体;color: white"><a href="product.html">济南爱动动漫科技有限公司</a>
                        </li>
                        <li class="subitem3" style="font-family:楷体;color: white"><a
                                href="product.html">广州星原文化科技股份有限公司</a></li>
                        <li class="subitem3" style="font-family:楷体;color: white"><a href="product.html">广州咏声动漫股份有限公司</a>
                        </li>
                    </ul>
                </li>
                <ul class="kid-menu">
                    <li class="menu-kid-left"><a href="/contact">关于我们</a></li>
                </ul>
            </ul>
        </div>
        <!--initiate accordion-->
        <script type="text/javascript">
            $(function () {
                var menu_ul = $('.menu > li > ul'),
                    menu_a = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function (e) {
                    e.preventDefault();
                    if (!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true, true).slideUp('normal');
                    }
                });

            });
        </script>

        <a class="view-all all-product" href="/product">所有产品<span> </span></a>
    </div>
    {% block mainbody %}
        aa
    {% endblock %}

</div>
</body>
</html>