{% extends "userhome.html" %}

{% block mainbody %}
    <div class='container'>
    <br>
    <h1>    {{ upload }}</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input id='img' type="file" name="img" style="width: 25%">
            <br>
            <input type="submit" value="上传" class="aaa" style="width: 25%">
        </form>
                    <div class='panel panel-body'>
                        <from>
                            <table>
                                <tr>
                                    <td width=300 align=center>文件名</td>
                                    <td width=300 align=center>上传时间</td>
                                    <td width=100 align=center>支付状态</td>
                                    <td width=100 align=center>下载</td>

                                </tr>


                                {% for file in filelist %}

                                    <tr>
                                        <td width=300 align=center><span>{{ file.file_name }}</span></td>
                                        <td width=300 align=center class="number"><span>{{ file.Ftime }}</span>
                                        </td>
                                         <td width=300 align=center class="number"><span>{% if file.file_flag %}
                                             已支付
                                             {% else %}
                                             <a href="/pay?filepath={{ file.path }}"><button>支付</button></a>
                                         {% endif %}
                                         </span>
                                        </td>
                                        <td width=300 align=center><a href="/download?path={{ file.path }}"><button>下载</button></a>
                                        </td>

                                    </tr><br>

                                {% endfor %}
                            </table>
                        </from>
                    </div>
                    <div class="clearfix"></div>


    </div>



    <br>

    </div>
{% endblock %}